<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="hugo" value="https://nuget.pkg.github.com/h4b-dev/index.json" />
  </packageSources>
   <packageSourceCredentials>
    <hugo>
      <add key="Username" value="cms" />
      <add key="ClearTextPassword" value="8e1a658004476647918c91a87ada0609ce8c0ff6" />
    </hugo>
  </packageSourceCredentials>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="hugo">
            <package pattern="N1co.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>